#mainpart
{
background-color:black;
color:white;
}

#about h1
{
font-family: 'Lobster', cursive;
}

#About
{
text-align: center;
}

#Form
{
text-align: center;
}

#footer
{
text-align: center;
}